html,
body {
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#container {
  background-color: #333;
  height: 100%;
  width: 100%;
}
