html,
body {
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#version-bar {
  background-color: #1e1e1e;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid #444;
}

#container {
  background-color: #333;
  height: calc(100% - 25px);
  width: 100%;
}
